{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Exactor{% endblock %}</h1>
{% endblock %}

{% block content %}

<article class="crawler">
    <header>
      <h1>Exactor</h1>
    </header>
      <form method="post">
        <label for="keywords">Keywords</label>
        <input name="keywords" id="keywords" value="{{ request.form['keywords'] }}" required>
        
        <input type="submit" value="Run">
      </form>

      <a href="{{ url_for('instagram.download_csv') }}">Download CSV</a>
      
      <article class="crawler">
        <header>
          <h1>Displaying Data </h1>
        </header>
    
        <table border="1">
          <tr>
            <td>Username</td>
            <td>Full Name</td>
            <td>Email</td>
            <td>Phone</td>
          </tr>
          <!-- cho vòng lặp ở đây -->
          {% for crawler_data in crawler_data %}
            <tr>
                <td>{{ crawler_data['username'] }}</td>
                <td>{{ crawler_data['full_name'] }}</td>
                <td>{{ crawler_data['email'] }}</td>
                <td>{{ crawler_data['phone'] }}</td>
            </tr>
          {% endfor %}
    
        </table>
          <!-- Process bar -->
    
    
      </article>
  </article>

{% endblock %}