{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Target IG Account{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form method="post">
        <label for="target_username">Target Username</label>
        <input name="target_username" id="target_username" value="{{ request.form['target_username'] }}" >
        
        <label for="follow_followers">Follow their followers
        <input type="checkbox" id="follow_followers" name="follow_followers" value="{{ request.form['follow_followers'] }}">
        <label for="unfollow_followers">UnFollow their followers
        <input type="checkbox" id="unfollow_followers" name="unfollow_followers" value="{{ request.form['unfollow_followers'] }}">
        <br>
        <input type="submit" value="Start">
  </form>

{% endblock %}